body {
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
  letter-spacing: 1px;
  background: #172158;
}

h1 {
  text-align: center;
  font-family: "Lora", serif;
  color: #fdef9e;
}

#container {
  background: #172158;
  padding: 1.5em;
  border: 1px solid #fdef9e;
  border-radius: 20px;
  opacity: 0.92;
  margin-top: 40px;
  /*width: 50%;
	margin: 0 auto;*/
}
hr {
  background-color: #fdef9e;
  height: 1px;
  border: 0;
}

div {
  line-height: 2.5em;
}

input[type="text"] {
  font-size: 1.1em;
  text-align: center;
}

label,
input,
#tipOutput,
#splitOutput {
  width: 100%;
  font-family: "Nunito", sans-serif;
  color: #fdef9e;
}

input {
  color: #172158;
}

#newBill-Label,
#newBill,
#newTip {
  color: #d18392;
}
#newBill,
#newTip {
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 1.5;
}

@media (min-width: 700px) {
  body {
    width: 60%;
  }

  label,
  input {
    display: inline-block;
    max-width: 40%;
  }

  div {
    line-height: 4em;
  }
}
